@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  @apply rounded shadow-sm overflow-hidden relative hover:shadow-lg;
}

.hamburgerBtn{
  @apply block p-1 text-gray-400 rounded 
      hover:text-white hover:bg-gray-700 hover:rounded-lg 
      transition-all duration-300 ease-linear 
      focus:bg-gray-700 focus:rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300
}

.notificationBtn{
  @apply block p-1 text-gray-400 rounded 
      hover:text-white hover:bg-gray-700 hover:rounded-lg 
      transition-all duration-300 ease-linear 
      focus:bg-gray-700 focus:rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300
}